@{
    ViewData["Title"] = "Cambios en app web";
}

<div class="text-center">
    <h1 class="display-4">MI PRIMERA APP WEB</h1>
    <ul>
        <li>Hayland Montalvo</li>
        <li> <a href="https://www.youtube.com/watch?v=d2HmiKVoTNA&list=LL&index=1">CANCION FAVORITA?</a> </li>
    </ul>
</div>
