@{
    ViewData["Title"] = "Cambios en app web";
}

<div class="text-center">
    <h1 class="display-4">MI PRIMERA APP WEB</h1>
    <ul>
        <li>Hayland Montalvo</li>
        <li> <p>SIMULACION DE SPOTIFY PERO BARATO</p></li>
        <li> Spotify para ir al reproductor y Home para volver</li>
    </ul>
</div>
