@{
    ViewData["Title"] = "Spotify de $1";
}
<h1>@ViewData["Title"]</h1>

<p>Disponemos solo de estas canciones perdon la molestia</p>

<div>
    <ul>
        <li> <a href="https://www.youtube.com/watch?v=d2HmiKVoTNA&list=LL&index=1">Top 1 mundial</a>       </li>
        <li> <a href="https://www.youtube.com/watch?v=WaGHUS4YplI&list=LL&index=4">Top 1 cancion Eladio Carrion</a>       </li>
    </ul>
</div>
